<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="none,noindex,nofollow"/>
    <meta name="googlebot" content="noindex"/>
    <meta name="Baiduspider" content="noarchive"/>
    <title>Error</title>
</head>
<body>
<h1 th:text="${exception.localizedMessage}"></h1>
<a th:src="${#request.getScheme() +'://'+#request.getServerName() +':'
        +#request.getServerPort()+#request.getContextPath()+'/'}">Back To Home</a>
</body>
</html>
